body {
    background: url(https://subtlepatterns.com/patterns/crossword.png);
    background: url(https://www.toptal.com/designers/subtlepatterns/uploads/px_by_Gre3g.png);
}

.btn {
    background: #428bca;
    border: #357ebd solid 0px;
    border-radius: 3px;
    color: #fff;
    display: inline-block;
    font-size: 14px;
    padding: 8px 15px;
    text-decoration: none;
    text-align: center;
    min-width: 60px;
    position: relative;
    transition: color 0.1s ease;
}
.btn:hover {
    background: #357ebd;
}
.btn.btn-big {
    font-size: 18px;
    padding: 15px 20px;
    min-width: 100px;
}
.btn-close {
    color: #aaaaaa;
    font-size: 20px;
    text-decoration: none;
    padding: 10px;
    position: absolute;
    right: 7px;
    top: 0;
}
.btn-close:hover {
    color: #919191;
}
/* https://codepen.io/nodws/pen/VwpbeX?editors=1100
<!-- Modal -->
<div class="modale" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-header">
      <h2>Please Login</h2>
      <a href="#" class="btn-close closemodale" aria-hidden="true">&times;</a>
    </div>
    <div class="modal-body">
      <input type="text" name="u" placeholder="User" size="20" /><br>
      <input type="text" name="p" placeholder="&bull;&bull;&bull;&bull;" size="20" /></div>
    <div class="modal-footer">
  

      <a href="#" class="btn" id="btn_ingresar">Login</a>
    </div>
  </div>
</div>
<!-- /Modal -->

  <h1>Dead Simple Modal</h1>
  <p><a href="#" class="btn btn-big openmodale">Open Login Box</a></p>
*/
.modal:before {
    content: "";
    display: none;
    background: rgba(0, 0, 0, 0.6);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 10;
}
.opened:before {
    display: block;
}
.opened .modal-dialog {
    -webkit-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    transform: translate(0, 0);
}
.modal-dialog-sticky {
    background: #fefefe;
    border: #333333 solid 0px;
    border-radius: 5px;
    margin-left: -200px;
    /* text-align: center; */
    position: sticky;
    left: 25%;
    /* bottom: 0px; */
    /* top: -94%; */
    z-index: 11;
    width: 360px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
    /* -webkit-transform: translate(0, -500%); */
    -ms-transform: translate(0, -500%);
    /* transform: translate(0, -500%); */
    -webkit-transition: -webkit-transform 0.3s ease-out;
    -moz-transition: -moz-transform 0.3s ease-out;
    -o-transition: -o-transform 0.3s ease-out;
    transition: transform 0.3s ease-out;
}
.modal-dialog {
    background: #fefefe;
    border: #333333 solid 0px;
    border-radius: 5px;
    margin-left: -200px;
    text-align: center;
    position: fixed;
    left: 50%;
    top: 25%;
    z-index: 11;
    width: 360px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
    -webkit-transform: translate(0, -500%);
    -ms-transform: translate(0, -500%);
    transform: translate(0, -500%);
    -webkit-transition: -webkit-transform 0.3s ease-out;
    -moz-transition: -moz-transform 0.3s ease-out;
    -o-transition: -o-transform 0.3s ease-out;
    transition: transform 0.3s ease-out;
}
.modal-body {
    padding: 20px;
}
.modal-body input {
    width: 200px;
    padding: 8px;
    border: 1px solid #ddd;
    color: #888;
    outline: 0;
    font-size: 14px;
    font-weight: bold;
}
.modal-header,
.modal-footer {
    padding: 10px 20px;
}
.modal-header {
    border-bottom: #eeeeee solid 1px;
}
.modal-header h2 {
    font-size: 20px;
}

.overlay:target {
    visibility: visible;
    opacity: 1;
}
.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.5);
    transition: opacity 200ms;
    visibility: hidden;
    opacity: 0;
}
.overlay .cancel {
    position: absolute;
    width: 100%;
    height: 100%;
    cursor: default;
}
*,
*:before,
*:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.modal {
    margin: 100px auto;
    padding: 20px;
    background: #fff;
    border: 1px solid #666;
    width: 300px;
    border-radius: 6px;
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.5);
    position: relative;
}
.modal .content {
    max-height: 400px;
    overflow: auto;
}
.modal p:last-child {
    margin: 0;
}

.modal p {
    margin: 0 0 1em;
    text-align: center;
    line-height: 1.6;
    margin-bottom: 20px;
}
.modal h2 {
    margin-top: 0;
    font-size: 1.2em;
    margin-bottom: 30px;
    margin: 0;
    color: #444;
    text-align: center;
}
