/* @import "../../vars.css"; */

.posts-container {
    max-height: 100%;
    max-width: 100%;
    overflow-y: auto;
}
.posts-container, .post-container {
    transition: all 0.6s ease-in-out;
}
.posts-container .posts-content {
    gap: 1rem;
}
.posts-container .posts-controls, .post-controls {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    width: 100%;
    height: 1rem;
    min-height: min-content;
    max-height: 100%;
    height: 1.5rem;
    border-color: black rgb(17, 17, 17) rgb(17, 17, 17);
    box-shadow: rgba(0, 0, 0, 0.247059) 0px 1px 2px inset, rgba(255, 255, 255, 0.0784314) 0px 1px;
    background: linear-gradient( rgba(0, 0, 0, 0.0980392), transparent 50%, rgba(255, 255, 255, 0.0666667)) rgb(50, 53, 56);
    border-style: inset;
}
.posts-container .posts-filters {
    width: 100%;
    height: 1rem;
}
.posts-container.posts-list {
    /* 
    height: 100%;
    max-height: 100%;
    width: 100%;
    max-width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
    */
    height: auto;
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: flex-start;
    gap: 0.5rem 0rem;

}
.posts-container.posts-list .posts-content {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    /* 
    height: auto;
    min-height: auto;
    max-height: 100%;
    width: 100%;
    max-width: 100%;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    flex-direction: row; 
    */
    align-items: center;
    justify-content: center;
    padding-inline: 4rem;
}
.post-container {
    padding: 0.0rem !important;
}
.post-container > * {
    padding: 0.5rem 1rem;
}
.posts-container.posts-list .posts-content .post-container {
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    height: auto;
    width: 100%;
    box-shadow: rgba(0, 0, 0, 0.024) 1px 1px 2px 2px;
}
.posts-container.posts-list .posts-content .post-container .post-content.post-layout-horizontal {
    /* 
    height: auto;
    width: 100%;
    min-width: auto;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    */
    opacity: 0.9;
    transition: none 0s ease 0s;
    transform: none;
    filter: none;
    padding: 0.5rem 1rem;
    margin: 0rem;
    border: none;
    width: 100%;
    height: auto;
    display: grid;
    grid-column: 1 / -1;
    grid-row: 1fr / -1;
    grid-column: 1 / span 4;
    grid-row: 1 / span 20;
    grid-template: auto / auto auto auto;
    grid-area: 2 / 1 / span 2 / span 3;
}
.posts-container.posts-grid .posts-content {
    /* 
    padding: 0rem; 
    display: flex; 
    display: grid;
    grid-template-rows: auto 1fr auto;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
    grid-gap: 1rem;
    grid: repeat(auto-fit, 1fr) / auto-flow 1fr;
    transition: 0.9s all cubic-bezier(0.645, 0.045, 0.355, 1);
    gap: 0.5rem;
    */
    display: grid;
    grid-template-columns: repeat(auto-fit, 20rem);
    grid-template-rows: repeat(auto-fit, 24rem);
    grid-auto-flow: row;
    width: 100%;
    grid-template-columns: repeat( auto-fit, minmax(250px, 1fr) );
    min-width: 100%;
}
.posts-container.posts-flex .posts-content {
    display: flex;
    flex-wrap: wrap;
}
.posts-container.posts-flex .posts-content .post-container {
    /*
    min-height: auto;
    max-height: 100%;
    min-width: auto;
    max-width: 400px;
    margin: 10px !important;
    flex: 1 1 min-content;
    flex: 1 1 max-content;
    flex: 0 1 20rem;
    */
    flex: 1 1 20rem;
}
.post-container, .post-container >*{
    transition: 1.5s all cubic-bezier(0.645, 0.045, 0.355, 1) 2ms !important;
}
.post-text-container {
    width: fit-content;
    min-width: fit-content;
    min-width: auto;
    gap: 1.0rem;
    display: flex;
    flex-direction: column;
    place-content: flex-start flex-start;
    align-items: center !important;
    align-self: center;
    flex: 0 1 auto;
}
.post-section-container {
    display: flex;
    width: fit-content;
    flex-direction: row;
    flex: 0 1 auto;
    min-width: fit-content;
}
.post-section-container.section-row {
    flex-direction: row !important;
}
.post-section-container.section-col {
    flex-direction: column !important;
}
.post-container {
    /*
    place-content: center flex-start;
    justify-content: center;
    align-items: center;
    align-content: center;
    align-self: center;
    transition: all 1s ease-in-out 1s;
    transition: 300ms all cubic-bezier(0.645, 0.045, 0.355, 1);
    padding: 0.25rem 1rem; 
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    */
    height: 100%;
    height: auto;
    width: auto;
    margin: 0rem;
    padding: 1.25rem;
    gap: 1.25rem;
    background-color: var(--color_tertiary);
}

.post {
    /*
    place-content: center flex-start;
    justify-content: center;
    align-items: center;
    align-content: center;
    align-self: center;
    transition: all 1s ease-in-out 1s;
    transition: 300ms all cubic-bezier(0.645, 0.045, 0.355, 1);
    padding: 0.25rem 1rem; 
    */
    height: 100%;
    max-height: 100%;
    width: 100%;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    background-color: var(--color_tertiary);
    color: var(--color-text);
    opacity: 1;
    overflow: hidden;
    flex: 1 1 100%;
}
.post-container.post-overlay {
    /* Fullscreen view that overlays the entire window space, like a modal. */
    /* 
    min-height: 100vh !important; 
    left: 50%;
    top: 25%;
    */
    height: 100vh;
    min-height: 100vh !important;
    max-height: 100%;
    width: auto;
    min-width: auto;
    max-width: 100%;
    box-shadow: 0 0 8px 2px #000000 !important;
    border-radius: 6px;
    position: absolute;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 1rem;
    padding: 1.25rem;
    gap: 1.25rem;
    background-color: var(--color_tertiary);
    color: var(--color-text);
    transition: 1.5s all cubic-bezier(0.645, 0.045, 0.355, 1) !important;
    opacity: 1;
    z-index: 100;
}
/*
.post-container:focus, .post-container:active {
    height: 100%;
    min-height: auto;
    max-height: 100%;
    width: 100%;
    min-width: auto;
    max-width: 100%;
    box-shadow: 0 0 8px #00000077;
    transition: box-shadow 0.3s ease-in-out;
    justify-content: flex-start;
}
*/
.post-container.post-overlay:before {
    content: "";
    display: none;
    background: rgba(0, 0, 0, 0.6);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 10;
}
.post-container.post-overlay .post {
    position: fixed;
    position: sticky;
}

.post-container:hover {
    box-shadow: 0 0 8px #00000077;
    transition: box-shadow 0.3s ease-in-out;
    justify-content: flex-start;
}
.post-container.post-summary {
    display: flex;
    flex-wrap: wrap;
    flex: 0 1 20rem;
    padding: 0;
    /*
    place-content: center flex-start;
    justify-content: center;
    align-items: center;
    align-content: center;
    align-self: center;
    */
    /* padding: 0.25rem 1rem; */
}
.post-container.post-fill {
}
.posts-container.posts-flex .posts-content .post-container.post-fill {
    /*
    min-height: auto;
    */
    display: flex;
    flex: 1 1 100% !important;
    height: 100vh;
    /* min-height: 100vh !important; */
    max-height: 100%;
    width: 100%;
    min-width: auto;
    max-width: 100%;
    /* box-shadow: 0 0 8px #00000077; */
    /* justify-content: flex-start; */
    /* padding: 0.25rem 1rem; */
}
.posts-container.posts-grid .posts-content .post-container.post-fill {
    /*
    min-height: auto;
    min-width: 100%;
    min-height: 100%;
    padding: 1.25rem;
    grid-gap: 1.25rem;
    grid-area: auto;
    grid-auto-columns: max-content;
    grid-auto-rows: max-content;
    grid-column: 1 / span 6;
    grid-row: 1 / -1;
    grid-row: 450px;
    grid-row: 1 / span 30;
    grid-row-end: 30;
    grid-row-start: 1;
    grid-template: 150px / auto auto auto;
    grid-area: 2 / 1 / span 2 / span 3;
    */
    grid-column: 1 / -1;
    grid-row: 1fr / -1;
    grid-column: 1 / span 4;
    grid-row: 1 / span 20;
}
.post-header,
.post-content,
.post-footer {
    display: flex;
    /*
    place-content: center flex-start;
    justify-content: center;
    align-items: center;
    align-content: center;
    align-self: center;
    min-height: auto;
    width: auto;
    min-width: auto;
    width: 100%;
    height: auto;
    */
    max-height: 100%;
    max-width: 100%;
    place-content: flex-start flex-start;
    flex-direction: column;
}

.post-header {
    position: relative;
    top: 0;
    width: 100%;
    height: auto;
    min-height: min-content;
    border-bottom: 1px solid grey;
    place-content: flex-start flex-start;
    flex: 0 1 auto;
}
.post-content {
    width: 100%;
    height: auto;
    place-content: flex-start flex-start;
    flex: 1 1 100%;
}
.post-content .post-body-text {
    padding: 10px 0;
}
.post-footer {
    position: relative;
    bottom: 0;
    width: 100%;
    min-width: 100%;
    max-height: min-content;
    justify-content: flex-end;
    align-items: flex-end;
    place-content: center flex-end;
    border-top: 1px solid grey;
    padding: 0.5rem 0.75rem;
    flex: 0 1 auto;
}
.post-footer {
    min-height: min-content;
    min-width: 100%;
    border-color: black rgb(17, 17, 17) rgb(17, 17, 17);
    box-shadow: rgba(0, 0, 0, 0.247059) 0px 1px 2px inset, rgba(255, 255, 255, 0.0784314) 0px 1px;
    background: linear-gradient( rgba(0, 0, 0, 0.0980392), transparent 50%, rgba(255, 255, 255, 0.0666667)) rgb(50, 53, 56);
    border-style: inset;
    padding: 0.5rem 0.5rem;
    background: -moz-linear-gradient(0deg, rgba(0, 0, 0, 0.39) 0%, transparent 60%, transparent 84%);
    background: -webkit-gradient(linear, left top, right top, color-stop(0%, black), color-stop(60%, transparent), color-stop(84%, transparent));
    background: -webkit-linear-gradient(0deg, rgba(0, 0, 0, 0.39) 0%, transparent 60%, transparent 84%);
    background: -o-linear-gradient(0deg, rgba(0, 0, 0, 0.39) 0%, transparent 60%, transparent 84%);
    background: -ms-linear-gradient(0deg, rgba(0, 0, 0, 0.39) 0%, transparent 60%, transparent 84%);
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.39) 0%, transparent 60%, transparent 84%);
}

.post-controls {
    max-height: min-content;
    height: 1.5rem;
    border-color: black rgb(17, 17, 17) rgb(17, 17, 17);
    box-shadow: rgba(0, 0, 0, 0.247059) 0px 1px 2px inset, rgba(255, 255, 255, 0.0784314) 0px 1px;
    background: linear-gradient( rgba(0, 0, 0, 0.0980392), transparent 50%, rgba(255, 255, 255, 0.0666667)) rgb(50, 53, 56);
    border-style: inset;
}
.post-controls .post-control-button {
    cursor: pointer;
    padding: 0.125rem 0.25rem;
    line-height: normal;
    font-weight: bold;
    align-self: center;
    display: inline-flex;
    /* 
    align-items: center;
    justify-content: space-around;
    vertical-align: middle;
    height: 2rem;
    padding: 0px 12px; 
    box-shadow: rgba(255, 255, 255, 0.0980392) 0px 1px inset, rgba(0, 0, 0, 0.298039) 0px -1px 3px inset, rgba(255, 255, 255, 0.0784314) 0px 0px 0px 1px inset, rgba(0, 0, 0, 0.14902) 0px 1px 2px;
    background: linear-gradient( rgba(255, 255, 255, 0.0784314), rgba(255, 255, 255, 0) 50%, rgba(0, 0, 0, 0) 51%, rgba(0, 0, 0, 0.247059)) padding-box rgb(70, 74, 79);
    */
    color: rgb(221, 221, 221);
    text-align: center;
    text-transform: capitalize;
    text-decoration: none;
    text-shadow: rgba(0, 0, 0, 0.8) 0px 1px;
    border-width: 1px;
    border-style: outset;
    border-color: rgb(17, 17, 17) rgb(17, 17, 17) black;
    border-radius: 3px;
    cursor: pointer;
    text-transform: uppercase;
    transition: all 350ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    background-color: rgba(255, 255, 255, 0.1);
    background: linear-gradient(rgb(80, 84, 91), rgb(53, 56, 61)) rgb(70, 74, 79);
    text-transform: uppercase;
    color: rgba(255, 255, 255, 0.8);
    opacity: 0.8;
    backdrop-filter: blur(30px);
}
.post-control-button .button-text {
    opacity: 1.0;
    padding: 2px !important;
}
.post-control-button:hover, .post-control-button:focus, .post-control-button.focus {
    color: rgb(221, 221, 221);
    outline: none;
    background-color: rgb(83, 88, 95);
    border-style: solid;
}
.post-control-button:active, .post-control-button.active {
    color: rgb(204, 204, 204);
    border-color: black rgb(17, 17, 17) rgb(17, 17, 17);
    box-shadow: rgba(0, 0, 0, 0.247059) 0px 1px 2px inset, rgba(255, 255, 255, 0.0784314) 0px 1px;
    background: linear-gradient( rgba(0, 0, 0, 0.0980392), transparent 50%, rgba(255, 255, 255, 0.0666667)) rgb(50, 53, 56);
    border-style: inset;
}
/*

.post-control-button::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    display: block;
    width: 100%;
    height: 100%;
    box-shadow: 5px 5px 10px -1px rgba(0, 0, 0, 0.5) inset, -5px -5px 10px -2px rgba(120, 120, 120, 0.5) inset;
    transition: box-shadow 0.2s;
}
*/
.post-control-button .button-text {
    height: 100%;
    width: 100%;
    font-size: 0.65rem;
    text-align: center;
}
.post-control-button:hover {
    background: rgba(0, 0, 0, 0.8);
    color: #aaaaaa;
}
.post-content {
    width: 100%;
    height: auto;
}
.post-content-text,
.post-content-title {
    width: 100%;
    height: auto;
    text-decoration: none;
    text-shadow: 0rem 0rem 0.115rem #1b1b1bbb, 0rem 0rem 0.125rem #2525257f;
}
.post-content-title {
    width: 100%;
    height: auto;
}
.post-content-text {
    width: 100%;
    height: auto;
}
.post-content-bar {
    margin: 4px;
    width: 25vw;
    height: 1px !important;
    background-color: white;
}
.container {
    position: relative;
}

.center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 18px;
}

.post-image-container {
    display: flex;
    justify-content: center;
    align-items: center !important;
}
.post-image-container {
    height: 100%;
    max-height: 100%;
    /* width: 100%; */
    /* min-width: 100%; */
    max-width: 100%;
    min-width: fit-content;
}
.post-image-container .post-image {
    max-width: 100%;
    height: auto;
}
.post-image-container .post-image.centered {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
.post-image-container .post-image.responsive {
    padding: 0 6px;
    float: left;
    width: 24.99999%;
}

@media only screen and (max-width: 700px) {
    .post-image-container .post-image.responsive {
        width: 49.99999%;
        margin: 6px 0;
    }
}

@media only screen and (max-width: 500px) {
    .post-image-container .post-image.responsive {
        width: 100%;
    }
}
.post-content .post-image-container.post-image-polaroid {
    display: flex;
    place-content: center flex-start;
    /* justify-content: center; */
    /* align-content: center; */
    /* align-self: center; */
    flex-direction: column;
    align-items: center !important;
    flex: 1 0 fit-content;
}
.post-content .post-image-container .post-image {
    display: flex;
    justify-content: center;
    align-items: center !important;
    padding: 10px;
    height: 400px;
    height: auto;
}
.post-image-container .post-image-polaroid {
    text-align: center;
    padding: 10px 20px;
}
.post-content.post-layout-horizontal {
}
.post-content.post-layout-horizontal .post-image-container .post-image-container .post-image {
    
    padding: 0.25rem 1rem;
    margin: 0rem;
    border: 1px solid white;
    box-shadow: rgba(0, 0, 0, 0.25) 1px 1px 5px 5px;
    opacity: 1;
    transition: none 0s ease 0s;
    transform: none;
    filter: none;
    display: flex;
    flex: 0 1 auto;
    width: fit-content;
}
.post-image-container .post-image-label {
    width: 100%;
    min-width: min-content;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-bottom: 25px;
}
.post-image-container .post-image-label {
    width: 100%;
    min-width: min-content;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-bottom: 25px;
    /* display: flex; */
    /* flex-direction: row; */
    /* align-items: flex-start; */
    /* justify-content: space-between; */
    /* flex: 1 1 auto; */
    color: black;
    display: flex;
    padding: 0rem 2rem;
    place-content: flex-start flex-start;
    /* justify-content: center; */
    align-content: center;
}
/*

.item1 { grid-area: header; }
.item2 { grid-area: menu; }
.item3 { grid-area: main; }
.item4 { grid-area: right; }
.item5 { grid-area: footer; }

.grid-container {
  grid-template-areas:
    'header header header header header header'
    'menu main main main right right'
    'menu footer footer footer footer footer';
}
.item1 { grid-area: 1 / 3 / 2 / 4; }
.item2 { grid-area: 2 / 3 / 3 / 4; }
.item3 { grid-area: 1 / 1 / 2 / 2; }
.item4 { grid-area: 1 / 2 / 2 / 3; }
.item5 { grid-area: 2 / 1 / 3 / 2; }
.item6 { grid-area: 2 / 2 / 3 / 3; }
@media only screen and (max-width: 500px) {
  .item1 { grid-area: 1 / span 3 / 2 / 4; }
  .item2 { grid-area: 3 / 3 / 4 / 4; }
  .item3 { grid-area: 2 / 1 / 3 / 2; }
  .item4 { grid-area: 2 / 2 / span 2 / 3; }
  .item5 { grid-area: 3 / 1 / 4 / 2; }
  .item6 { grid-area: 2 / 3 / 3 / 4; }
}
*/

/*
An example of animating a grid item:
    https://codepen.io/Verhoevenwout/pen/proWOy?editors=0100
    .start-kenburns {
      animation: kenburns 20s infinite;
    }

    @keyframes kenburns {
      0% {
        opacity: 1;
      }
      5% {
        opacity: 1;
      }
      50% {
        transform: scale3d(1.2, 1.2, 1.2) translate3d(25px, -25px, 0px);
        animation-timing-function: ease-in;
        opacity: 1;
      }
      100% {
        transform: scale3d(1, 1, 1) translate3d(0px, 0px, 0px);
        opacity: 1;
      }
    }


    .expand-full-screen {
      position: absolute;
      width: 100vw !important;
      height: 100vh !important;
      top: 0 !important;
      left: 0 !important;
      z-index: 999;
    }

    .active-grid-image-overlay {
      opacity: 0.3 !important;
    }

    .opacity0 {
      opacity: 0;
    }

    .z-index-10 {
      z-index: 10;
    }

    html, body {
      margin: 0;
      overflow-x: hidden;
      text-transform: uppercase;
      font-family: "Nunito", sans-serif;
      text-align: center;
      color: #FFFFFF;
    }

    header {
      display: none;
    }

    .intro-wrapper {
      position: relative;
      height: 100vh;
      overflow: hidden;
    }

    .what-can-we-do-wrapper {
      position: absolute;
      bottom: 20px;
      text-align: center;
      width: 100%;
    }
    .what-can-we-do-wrapper img {
      width: 20px;
      transition: all 0.3s;
    }
    .what-can-we-do-wrapper a {
      pointer-events: auto;
    }
    .what-can-we-do-wrapper a:hover > img {
      transform: translateY(5px);
      transition: all 0.3s;
    }

    .intro-background-wrapper {
      z-index: 0;
    }

    .intro-logo-wrapper {
      transition: all 0.6s;
    }
    .intro-logo-wrapper h3 {
      color: #fff;
      font-size: 22px;
      position: absolute;
      left: 0;
      right: 0;
      bottom: 30%;
      margin: auto;
      pointer-events: none;
      transition: all 0.6s;
      z-index: 9999999;
    }
    .intro-logo-wrapper .intro-logo {
      position: absolute;
      height: 200px;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      margin: auto;
      z-index: 9999999;
      pointer-events: none;
      transition: all 0.6s;
    }

    .intro-grid-overlay {
      position: absolute;
      width: 100%;
      height: 100%;
      background: -moz-radial-gradient(center, ellipse cover, rgba(0, 0, 0, 0.6) 0%, rgba(0, 0, 0, 0.6) 15%, rgba(0, 0, 0, 0) 80%, rgba(0, 0, 0, 0) 100%);
      background: -webkit-radial-gradient(center, ellipse cover, rgba(0, 0, 0, 0.6) 0%, rgba(0, 0, 0, 0.6) 15%, rgba(0, 0, 0, 0) 80%, rgba(0, 0, 0, 0) 100%);
      background: radial-gradient(ellipse at center, rgba(0, 0, 0, 0.6) 0%, rgba(0, 0, 0, 0.6) 15%, rgba(0, 0, 0, 0) 80%, rgba(0, 0, 0, 0) 100%);
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr="#99000000", endColorstr="#00000000",GradientType=1 );
      pointer-events: none;
      z-index: 5;
      -webkit-backface-visibility: hidden;
    }

    .intro-grid {
      width: 100vw;
    }

    .grid-image-overlay {
      width: 100%;
      height: 100%;
      background-color: #700066;
      opacity: 0;
      transition: all 0.3s;
    }

    .intro-gradient {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      margin: auto;
      background: -moz-linear-gradient(0deg, rgba(0, 0, 0, 0.39) 0%, transparent 60%, transparent 84%);
      background: -webkit-gradient(linear, left top, right top, color-stop(0%, black), color-stop(60%, transparent), color-stop(84%, transparent));
      background: -webkit-linear-gradient(0deg, rgba(0, 0, 0, 0.39) 0%, transparent 60%, transparent 84%);
      background: -o-linear-gradient(0deg, rgba(0, 0, 0, 0.39) 0%, transparent 60%, transparent 84%);
      background: -ms-linear-gradient(0deg, rgba(0, 0, 0, 0.39) 0%, transparent 60%, transparent 84%);
      background: linear-gradient(0deg, rgba(0, 0, 0, 0.39) 0%, transparent 60%, transparent 84%);
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr="#000000", endColorstr="#000000",GradientType=1 );
      pointer-events: none;
      z-index: 9999;
    }

    .intro-grid .grid-image-link:nth-child(1) .grid-img {
      left: 0%;
    }
    .intro-grid .grid-image-link:nth-child(2) .grid-img {
      left: 20%;
    }
    .intro-grid .grid-image-link:nth-child(3) .grid-img {
      left: 40%;
    }
    .intro-grid .grid-image-link:nth-child(4) .grid-img {
      left: 60%;
    }
    .intro-grid .grid-image-link:nth-child(5) .grid-img {
      left: 80%;
    }
    .intro-grid .grid-image-link:nth-child(6) .grid-img {
      left: 0%;
    }
    .intro-grid .grid-image-link:nth-child(7) .grid-img {
      left: 20%;
    }
    .intro-grid .grid-image-link:nth-child(8) .grid-img {
      left: 40%;
    }
    .intro-grid .grid-image-link:nth-child(9) .grid-img {
      left: 60%;
    }
    .intro-grid .grid-image-link:nth-child(10) .grid-img {
      left: 80%;
    }
    .intro-grid .grid-image-link:nth-child(n+6) .grid-img {
      top: 50%;
    }
    .intro-grid .grid-img {
      width: 20vw;
      height: 50vh;
      transition: all 0.6s;
      position: absolute;
    }
    .intro-grid .grid-img:hover {
      cursor: pointer;
    }
    .intro-grid .grid-img:hover > .grid-image-overlay {
      opacity: 0.3;
    }

    .start-kenburns {
      animation: kenburns 20s infinite;
    }

    @keyframes kenburns {
      0% {
        opacity: 1;
      }
      5% {
        opacity: 1;
      }
      50% {
        transform: scale3d(1.2, 1.2, 1.2) translate3d(25px, -25px, 0px);
        animation-timing-function: ease-in;
        opacity: 1;
      }
      100% {
        transform: scale3d(1, 1, 1) translate3d(0px, 0px, 0px);
        opacity: 1;
      }
    }
    .no-pointer-events {
      pointer-events: none;
    }

    .overlay-content-container {
      position: absolute;
      width: calc(100vw - 100px);
      height: 100vh;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      margin: auto;
      text-align: center;
      z-index: 999;
      transition: all 0.3s;
    }
    .overlay-content-container .go-back-button {
      font-size: 20px;
      position: absolute;
      left: 0;
      top: 20px;
      -webkit-transition: all 0.3s;
      -o-transition: all 0.3s;
      transition: all 0.3s;
    }
    .overlay-content-container .go-back-button:hover {
      color: #e7e7e7;
      cursor: pointer;
    }
    .overlay-content-container h3 {
      font-size: 50px;
      position: absolute;
      left: 0;
      right: 0;
      bottom: 40%;
      margin: auto;
      transition: all 0.3s;
    }
    .overlay-content-container p {
      font-size: 16px;
      position: absolute;
      margin: auto;
      left: 0;
      right: 0;
      bottom: 150px;
      transition: all 0.3s;
    }

    .draw-border {
      box-shadow: inset 0 0 0 2px #fff;
      transition: color 0.25s 0.0833333333s;
      position: relative;
    }
    .draw-border::before, .draw-border::after {
      border: 0 solid transparent;
      box-sizing: border-box;
      content: "";
      pointer-events: none;
      position: absolute;
      width: 0;
      height: 0;
      bottom: 0;
      right: 0;
    }
    .draw-border::before {
      border-bottom-width: 2px;
      border-left-width: 2px;
    }
    .draw-border::after {
      border-top-width: 2px;
      border-right-width: 2px;
    }
    .draw-border:hover {
      color: #fff;
    }
    .draw-border:hover::before, .draw-border:hover::after {
      border-color: #ff67e6;
      transition: border-color 0s, width 0.25s, height 0.25s;
      width: 100%;
      height: 100%;
    }
    .draw-border:hover::before {
      transition-delay: 0s, 0s, 0.25s;
    }
    .draw-border:hover::after {
      transition-delay: 0s, 0.25s, 0s;
    }

    .btn {
      position: absolute;
      bottom: 50px;
      left: 0;
      right: 0;
      width: 200px;
      margin: auto;
      background: none;
      border: none;
      cursor: pointer;
      line-height: 1.5;
      font-size: 18px;
      padding: 20px;
      letter-spacing: 5px;
      text-transform: uppercase;
      color: #fff;
    }
    .btn:focus {
      outline: 2px dotted #55d7dc;
    }
*/