/* @import '../../vars.css'; */

/* Cell List Styling */

:root {
    --cell-border-radius: 8px;
    --cell-border-width: 0.125rem;
}

.cell-list-container {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    gap: 1.0rem;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.cell-list {
    display: flex;
    justify-content: center !important;
    align-items: center !important;
    flex-wrap: wrap;
    flex-direction: row;
    width: 100%;
    max-width: 100%;
    min-width: 100%;
    overflow-x: auto;
    gap: 0.25rem 0.250rem;
}

.cell-list.border > .cell-list-item.filter-cell-list-item {
    border-color: #111111AA;
    border-style: inset;
    border-width: var(--cell-border-width);
}

.cell-list-item {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center !important;
    border-radius: var(--cell-border-radius);
    transition: all 0.2s cubic-bezier(0.645, 0.045, 0.355, 1);
    background-color: #3e606842;
    border-style: groove; 
    border-color: #111111AA;
}

.cell-list-item:hover {
    background-color: var(--color-quinary);
    box-shadow:
        rgba(0, 0, 0, 0.5) -2px -2px 2px 0px inset,
        rgba(255, 255, 255, 0.125) 2px 2px 2px 0px inset
}

.cell-list-item:focus {
    background-color: var(--color-quaternary);
    box-shadow:
        inset 2px 2px 2px -2px #888888bb,
        inset -2px -2px 2px -2px #000000bb;
}

.cell-list-item:focus-visible {
    border: 1px solid black;
}

.cell-list-item:hover {
    background: linear-gradient(
            rgba(0, 0, 0, 0.0980392),
            transparent 50%,
            rgba(255, 255, 255, 0.0666667)
        )
        #323538;
    box-shadow:
        rgba(0, 0, 0, 0.247059) 0 1px 2px,
        rgba(255, 255, 255, 0.0784314) 0 1px inset;
}

.cell-list-item:active, 
.cell-list-item.active {
    background: linear-gradient(
            rgba(0, 0, 0, 0.0980392),
            transparent 50%,
            rgba(255, 255, 255, 0.0666667)
        )
        #323538;
    box-shadow: rgba(0, 0, 0, 0.8) 0 1px 2px inset,
                rgba(255, 255, 255, 0.1) -1px -1px 0px 0px inset;
    color: #ccc;
}

.cell-list-item:active:hover,
.cell-list-item.active:hover {
    background-color: var(--color-tertiary);
    background: linear-gradient(
            rgba(0, 0, 0, 0.0980392),
            transparent 50%,
            rgba(255, 255, 255, 0.0666667)
        )
        #323538;
    box-shadow:
        rgba(0, 0, 0, 0.247059) 0 1px 2px inset,
        rgba(255, 255, 255, 0.0784314) 0 1px;
    color: #ccc;
}

.cell-list.cell-list-neumorphic .cell-list-item {
    box-shadow:
        inset 2px 2px 2px -1px #888888bb,
        inset -2px -2px 2px -1px #000000bb;
}
.cell-list.cell-list-neumorphic .cell-list-item:hover {
    box-shadow:
        inset 2px 2px 2px 0px #00000055,
        inset -2px -2px 2px 0px #78787855;
    background-color: var(--color-quinary);
}
.cell-list.cell-list-neumorphic .cell-list-item:focus {
    box-shadow:
        inset 5px 5px 10px -1px #00000080,
        inset -5px -5px 10px -2px #78787880;
}
.cell-list.cell-list-neumorphic .cell-list-item:active,
.cell-list.cell-list-neumorphic .cell-list-item.active {
    box-shadow:
        inset 2px 2px 2px -1px #000000bb,
        inset -2px -2px 2px -1px #888888bb;
}

.cell-list.cell-list-console .cell-list-item {
    border-style: outset;
    border-width: 0.125rem;
    border-color: var(--color-secondary);
}
.cell-list.cell-list-console .cell-list-item:hover {
    background-color: var(--color-quinary);
    border-color: transparent;
}
.cell-list.cell-list-console .cell-list-item:focus {
    background-color: var(--color-quaternary);
    border-color: var(--color-secondary);
    
}
.cell-list.cell-list-console .cell-list-item:active,
.cell-list.cell-list-console .cell-list-item.active {
    background-color: var(--color-tertiary);
    border-color: var(--color-secondary);
    
}

.cell-list-item-text {
    margin: 0;
    user-select: none;
    color: var(--color-text);
    text-shadow: 0px 0.05rem 0.05rem #000000bb;
    padding: 0.1rem 0.5rem;
    font-size: 0.75rem;
}

.badge-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: var(--cell-border-radius);
    border-width: 0.125rem;
    border-color: #56565666;
    border-style: groove inset;
}
.badge-name {
    font-size: 0.75rem;
    flex: 1 1;
    padding: 0.125rem 0.5rem;
}

.badge-num {
    font-size: 0.75rem;
    background-color: #bb871522;
    color: white;
    border-top-left-radius: 0px;
    border-top-right-radius: var(--cell-border-radius);
    border-bottom-right-radius: var(--cell-border-radius);
    border-bottom-left-radius: 0px;
    border-left: 2px inset #88888899;
    padding: 0.0785rem 0.25rem;
}